/*
 ID SELECTORS
*/
#myForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10vh;
}

#save_files {
  width: 10vh;
  height: 4vh;
  color: white;
  font-size: 30px;
  background-color: #0062a5;
  border: #0062a5;
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

/*
 CLASS SELECTORS
*/
.file-inputs {
  display: flex;
  justify-content: space-around;
}

.file-input {
  font-weight: bold;
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 20px;
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;

  box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075);
}

.svg-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 20vh;
}

.tracker-svg {
  display: flex;
  width: 50%;
}

.logo {
  -webkit-animation: spin 1s;
  animation: spin 1s;
  animation-timing-function: ease-out-in;
  -webkit-animation-timing-function: ease-out-in;
}

.logo img {
  -webkit-animation: grow 1s;
  animation: grow 1s;
  animation-timing-function: ease-out-in;
  -webkit-animation-timing-function: ease-out-in;
}

@keyframes spin {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(720deg);
  }
}

@keyframes grow {
  from {
    transform: scale(0.2);
  }
  to {
    transform: scale(1);
  }
}