/* 
  ID SELECTORS
*/

/* 
  CLASS SELECTORS
*/
.mentee-cards {
  width: 40vh;
  background-color: rgb(243, 243, 243);
  border: 3px solid rgb(243, 243, 243);
  border-radius: 3px;
  border-bottom-color: gold;
  padding: 15px;
  opacity: 0;
}

.mentee-cards h2 {
  color: #002e5a;
  padding-bottom: 10px;
}

.results-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  row-gap: 30px;
}

.results-header {
  text-align: center;
  text-shadow: 1px 0 #707070;
  font-weight: bolder;
  color: #707070;
}

.scroll-top-button,
.scroll-btm-button {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 99;
  width: 5vh;
  height: 5vh;
  border: 1px solid #0062a5;
  border-radius: 50%;
  background-color: #0062a5;
  color: white;
  font-size: 30px;
  cursor: pointer;
}

.hidden-button {
  display: none;
}
